package page

import (
	"maxtrackr/src/model"
	"maxtrackr/src/view/layout"
)

templ Show(usr model.User) {
	@layout.Base() {
		<h1>hello from the homePage { usr.Name }</h1>
		<a href="https://maxtrackr.auth.us-east-1.amazoncognito.com/login?client_id=79ptq9ueprsrolud1pgtd3pg5l&response_type=code&scope=email+openid+phone&redirect_uri=https%3A%2F%2Flocalhost%3A5000%2Floggedin">Login or Register </a>
	}
}
